In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
HERO_df = pd.read_csv(file_to_load)
HERO_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [64]:
HERO_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

* Display the total number of players

In [65]:
Player_count = HERO_df.loc[:,["Gender","SN","Age"]]
Player_count =Player_count.drop_duplicates()
Number_players=Player_count.count()[0]
Number_players

576

## Purchasing Analysis (Total)

In [66]:
Item_count = len(HERO_df["Item Name"].unique())
Average_Price = HERO_df["Price"].mean()
Age_avg = HERO_df["Age"].mean()
total_revenue = HERO_df["Price"].sum()
print("Number of items", Item_count)
print("The average price of an item", round(Average_Price, 2))
print ("The average age of Players", round(Age_avg,2))
print("The total revenue", total_revenue)

Number of items 179
The average price of an item 3.05
The average age of Players 22.71
The total revenue 2379.77

In [67]:
summary_df = pd.DataFrame({"Number of Items": Item_count,
                          "Average Price": [Average_Price],
                          "Age of Players": [Age_avg], 
                          "Total Revenue": [total_revenue]})
summary_df["Average Price"]=summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Age of Players"]=summary_df["Age of Players"].map("{:,.2}".format)
summary_df["Total Revenue"]=summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

   Number of Items Average Price Age of Players Total Revenue
0              179         $3.05        2.3e+01     $2,379.77

## Gender Demographics

In [68]:
Gender_breakdown = Player_count["Gender"].value_counts()
Gender_breakdown2 = Gender_breakdown/Number_players
HERO_gender= pd.DataFrame({"Total Count":Gender_breakdown,
                          "Percentage of Players":Gender_breakdown2})
HERO_gender["Percentage of Players"]=HERO_gender["Percentage of Players"].map("{:,.2%}".format)
HERO_gender.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [137]:
gender_total_purchase=HERO_df.groupby("Gender").sum()["Price"]
gender_avg_price=HERO_df.groupby("Gender").mean()["Price"]
gender_items=HERO_df.groupby("Gender").count()["Price"]

normalize_total= gender_total_purchase/HERO_gender["Total Count"]

gender_purchasing_df= pd.DataFrame({"Number of Purchases":gender_items,
                                    "Average Item Price": gender_avg_price,
                                    "Total Purchase": gender_total_purchase,
                                    "Avg Total Purchase per Person":normalize_total})

gender_purchasing_df["Average Item Price"]=gender_purchasing_df["Average Item Price"].map("${:,.2f}".format)
gender_purchasing_df["Total Purchase"]=gender_purchasing_df["Total Purchase"].map("${:,.2f}".format)
gender_purchasing_df["Avg Total Purchase per Person"]=gender_purchasing_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
gender_purchasing_df

,Number of Purchases,Average Item Price,Total Purchase,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [70]:

#HERO_AGES= HERO_df.groupby("Age")
bins = [0,9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,9999]
label = ["<10", "10-14", "15-19", "20-24","25-29","30-34", "35-39","40+"]

Player_count["Age Ranges"] = pd.cut(Player_count["Age"], bins, labels=label)
AGE_breakdown = Player_count["Age Ranges"].value_counts()
AGE_breakdown2 = AGE_breakdown/Number_players
Age_demo= pd.DataFrame({"Total Count":AGE_breakdown, "Percent of Players": AGE_breakdown2})
Age_demo["Percent of Players"]=Age_demo["Percent of Players"].map("{:,.2%}".format)
Age_demo

       Total Count Percent of Players
20-24          258             44.79%
15-19          107             18.58%
25-29           77             13.37%
30-34           52              9.03%
35-39           31              5.38%
10-14           22              3.82%
<10             17              2.95%
40+             12              2.08%

## Purchasing Analysis (Age)

In [138]:
bins = [0,9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,9999]
label = ["<10", "10-14", "15-19", "20-24","25-29","30-34", "35-39","40+"]

Player_count["Age Ranges"] = pd.cut(Player_count["Age"], bins, labels=label)


Age_total_purchase=HERO_df.groupby("Age").sum()["Price"]
Age_avg_price=HERO_df.groupby("Age").mean()["Price"]
Age_items=HERO_df.groupby("Age").count()["Price"]

normalize_totalAge= Age_total_purchase/Number_players

Age_purchasing_df= pd.DataFrame({"Purchase Count":Age_items,
                                   "Price": Age_avg_price,
                                   "Total Purchase Value": Age_avg_price,
                                   "Avg Total Purchase per Person":normalize_totalAge})
Age_purchasing_df["Price"]=Age_purchasing_df["Price"].map("${:,.2f}".format)
Age_purchasing_df["Total Purchase Value"]=Age_purchasing_df["Total Purchase Value"].map("${:,.2f}".format)
Age_purchasing_df["Avg Total Purchase per Person"]=Age_purchasing_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

Age_summary= Age_purchasing_df.groupby(["Age"])
Age_summary

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [97]:
SN_total_purchase=HERO_df.groupby("SN").sum()["Price"]
SN_avg_price=HERO_df.groupby("SN").mean()["Price"]
SN_items=HERO_df.groupby("SN").count()["Price"]
SN_total_purchase=HERO_df.groupby("SN").sum()


SN_purchasing_df= pd.DataFrame({"Purchase Count":gender_items,
                                    "Price": SN_avg_price,
                                    "Total Purchase Value": SN_total_purchase})

Sorted_total=SN_purchasing_df.sort_values("Total Purchase Value", ascending=False)

#SN_purchasing_df["Price"]=SN_purchasing_df["Price"].map("${:,.2f}".format)
#SN_purchasing_df["Total Purchase Value"]=SN_purchasing_df["Total Purchase Value"].map("${:,.2f}".format)
#SN_purchasing_df["Avg Total Purchase per Person"]=SN_purchasing_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
Sorted_total

ValueError: Shape of passed values is (4, 3), indices imply (579, 3)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [136]:
Popular_df=(HERO_df.groupby(["Item ID", "Item Name"]).size()
Item_counts = Popular_df.count()["Item ID"]
Item_numbers = Popular_df.sum()["Price"]
Number_items = Popular_df.count()["Item Name"]
total_items = Item_total_purchase/Number_players
Item_names = Popular_df("Item Names") 
                            
#item_purchasing_df= pd.DataFrame({"Purchase Count":Item_counts,
                                   "Price": Item_avg_price,
                                    "Total Purchase Value": Item_total_purchase,
                                    "Avg Total Purchase per Person":normalize_total,
                                    "Item Name": Item Name})

item_purchasing_df["Price"]=item_purchasing_df["Price"].map("${:,.2f}".format)
item_purchasing_df["Total Purchase Value"]=item_purchasing_df["Total Purchase Value"].map("${:,.2f}".format)
item_purchasing_df["Avg Total Purchase per Person"]=item_purchasing_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
Sorted_total=item_purchasing_df.sort_values("Total Purchase Value", ascending=False)

SyntaxError: invalid syntax (<ipython-input-136-e6dd2c6a9e99>, line 2)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80